@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in-1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slide-in {
  0% {
    opacity: 0;
    height: 0em;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    height: calc(8em + 3px);
  }
}

@keyframes slide-out {
  0% {
    opacity: 1;
    height: calc(8em + 3px);
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    height: 0em;
  }
}

.Main_Container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.Main_Container {
  opacity: 0;
  -webkit-animation: fade-in ease-out 1;
  -moz-animation: fade-in ease-out 1;
  animation: fade-in ease-out 1;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 0.3s;
  -moz-animation-duration: 0.3s;
  animation-duration: 0.3s;
}

.More_Options_Container * {
  opacity: 0;
  -webkit-animation: fade-in-1 ease-out 1;
  -moz-animation: fade-in-1 ease-out 1;
  animation: fade-in-1 ease-out 1;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 1.9s;
  -moz-animation-duration: 1.9s;
  animation-duration: 1.9s;
}

.Top_Container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 40%;
  width: 100%;
  background: linear-gradient(
      to bottom,
      rgba(9, 11, 15, 0.2),
      rgba(9, 11, 15, 1)
    ),
    url("../../Images/compose_background.jpg") center center no-repeat;
}

.Bottom_Container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60%;
  width: 96%;
  border-top: 1px solid rgb(195, 195, 195);
}

.Header_Container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  width: 96%;
  height: 70%;
  border-bottom: 1px solid rgb(235, 235, 235);
  z-index: 10;
  padding-bottom: 1em;
}

.Header_Container h1 {
  margin: 0em;
  padding: 0em;
  font-size: calc(6px + 8vmin);
  color: rgb(235, 235, 235);
  font-weight: 400;
}

.Header_Container p {
  margin: 0em 0em 0em 0.2em;
  padding: 0em;
  font-size: calc(6px + 1.5vmin);
  font-weight: 400;
  color: rgb(195, 195, 195);
}

.Add_Flower_Container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 40%;
  height: 100%;
  margin-left: 1em;
}

.Show_Flowers_Container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 55%;
  height: 100%;
}

.Show_Container_1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 2em;
  width: calc(100% - 0.8em);
  margin-top: -3em;
}

.Show_Container_2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-top: 1.8em;
}

.Add_Container_1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 2em;
  width: 100%;
  margin-top: -3em;
}

.Add_Container_2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-top: 1.8em;
}

.Add_Container_2 h3 {
  text-align: center;
  margin: 0em 0em 1em 0em;
  font-size: calc(6px + 1.2vh);
}

.Add_Container_1 p,
.Show_Container_Text {
  margin-left: 0.5em;
  font-size: calc(6px + 1vmin);
  font-weight: 600;
  color: rgb(195, 195, 195);
}

.Icon {
  color: #d97979;
}

.Show_Name {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 45%;
  height: 100%;
}

.Show_Date {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 30%;
  height: 100%;
}

.Show_Amount {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 25%;
  height: 100%;
}

.List_Item_Container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 3em;
  border-bottom: 1px solid rgb(235, 235, 235);
  z-index: 5;
  transition: 200ms;
}

.List_Item_Container:hover {
  cursor: pointer;
  background-color: rgb(217, 121, 121, 0.15);
}

.List_Container_Text_First {
  font-size: calc(6px + 1.3vmin);
  font-weight: 600;
}

.List_Container_Text_First_True {
  font-size: calc(6px + 1.3vmin);
  font-weight: 600;
  color: #d97979;
}

.List_Container_Text {
  font-size: calc(6px + 1.1vmin);
  font-weight: 400;
  color: rgb(195, 195, 195);
}

.Show_Container_2::-webkit-scrollbar,
.Add_Container_2::-webkit-scrollbar,
.Add_Flowers_List::-webkit-scrollbar {
  width: 0.8em;
}

.Show_Container_2,
.Add_Container_2,
.Add_Flowers_List {
  scrollbar-color: #d97979 #090b0f;
}
.Show_Container_2::-webkit-scrollbar-track,
.Add_Container_2::-webkit-scrollbar-track,
.Add_Flowers_List::-webkit-scrollbar-track {
  background: #090b0f;
}
.Show_Container_2::-webkit-scrollbar-thumb,
.Add_Container_2::-webkit-scrollbar-thumb,
.Add_Flowers_List::-webkit-scrollbar-thumb {
  background-color: #d97979;
  border-radius: 6px;
  border: 3px solid #090b0f;
}

.Header_Container_1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
}

.Icon_Container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(6px + 13vmin);
  height: calc(6px + 13vmin);
  border-radius: 1em;
  background-color: rgb(217, 121, 121, 0.15);
  margin-right: 1em;
}

.Header_Icon {
  transform: scale(2.5);
}

.Resources_Form {
  margin-top: 0.2em;
  width: 100%;
}

.Add_Button {
  border: 1px solid #d97979;
  background-color: #d97979;
  width: 20em;
  height: 2.5em;
  border-radius: 0.5em;
  font-weight: 600;
}

.Add_Flower_Button:hover {
  cursor: pointer;
  color: white;
}

.More_Options_Container {
  height: calc(8em + 3px);
  width: 100%;
  opacity: 1;
  -webkit-animation: slide-out ease-out 1;
  -moz-animation: slide-out ease-out 1;
  animation: slide-out ease-out 1;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 0.4s;
  -moz-animation-duration: 0.4s;
  animation-duration: 0.4s;
}

.More_Options_Container_Show {
  height: 0em;
  width: 100%;
  opacity: 0;
  -webkit-animation: slide-in ease-out 1;
  -moz-animation: slide-in ease-out 1;
  animation: slide-in ease-out 1;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 0.4s;
  -moz-animation-duration: 0.4s;
  animation-duration: 0.4s;
}

.More_Options_Container_1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 2em;
  width: 100%;
}

.C1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 40%;
  margin-left: 2em;
}

.C2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 40%;
}

.C3 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  width: 20%;
}

.More_Options_Icon {
  margin-right: 0.5em;
  color: rgb(195, 195, 195);
}

.More_Options_Icon:hover {
  cursor: pointer;
}

.List_Container_Text_White {
  font-size: calc(6px + 1.2vmin);
  font-weight: 400;
  color: white;
}

.Button_Container_Mobile {
  display: none;
}

.Add_Flower_Button_Mobile:hover {
  cursor: pointer;
  color: white;
}

.Modal_container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20em;
  background-color: rgb(240, 240, 240);
  color: black;
  border: 3px solid #090b0f;
  border-radius: 1em;
  box-shadow: 24em;
  padding: 2em;
}

.Close_Icon {
  float: right;
  color: #d97979;
}

.Close_Icon:hover {
  cursor: pointer;
}

.Modal_button {
  margin-top: 1.2em;
  height: 3em;
  font-weight: 600;
  font-size: 1em;
  color: #d97979;
  border: 1px solid #d97979;
}

.Modal_button:hover {
  cursor: pointer;
  background-color: rgb(217, 121, 121, 0.1);
}

.Modal_Form {
  display: flex;
  flex-direction: column;
}

.Add_Flowers_List {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-top: 1px solid rgb(195, 195, 195);
  padding-top: 0.5em;
  width: 100%;
  height: 15em;
  margin-bottom: 1.2em;
}

.Nested_Flower_Container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 2.5em;
  margin: 0.3em 0em 0.3em 0em;
  border-bottom: 1px solid rgb(195, 195, 195);
}

.Nested_Flower_Name {
  font-size: calc(4px + 1.3vh);
}

.Nested_Flower_Name {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
}

@media only screen and (max-width: 1000px) {
  .Top_Container {
    height: 30%;
  }

  .Bottom_Container {
    height: 70%;
    width: 90%;
    margin-top: 4.5em;
  }

  .Main_Container {
    height: calc(100vh - 3.4em);
  }

  .Header_Container {
    width: 90%;
  }

  .Show_Flowers_Container {
    width: 100%;
  }

  .Add_Flower_Container {
    display: none;
  }

  .Icon {
    transform: scale(0.5);
    margin-left: -0.2em;
  }

  .Show_Container_Text {
    margin-left: -0.4em;
  }

  .Show_Name {
    width: 40%;
  }

  .Show_Date {
    width: 35%;
  }

  .Show_Amount {
    width: 25%;
  }

  .Show_Container_1 {
    margin-top: -3em;
  }

  .List_Item_Container {
    height: 2em;
  }

  .Icon_Container {
    border-radius: 0.5em;
    background-color: rgb(217, 121, 121, 0.25);
  }

  .Header_Icon {
    transform: scale(1.5);
  }

  .More_Options_Icon {
    transform: scale(0.7);
    margin-right: 0.1em;
  }

  .Button_Container_Mobile {
    display: flex;
    justify-content: flex-end;
    width: 90%;
    margin-top: 1em;
    margin-bottom: -1.5em;
  }

  .Add_Flower_Button_Mobile {
    border: 1px solid #d97979;
    background-color: #d97979;
    width: 30%;
    height: 2.5em;
    border-radius: 0.5em;
    font-weight: 600;
    font-size: calc(1px + 1.3vh);
    right: 0;
  }

  .Modal_container {
    width: 70%;
  }
}
