.Main_Container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.Top_Container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 40%;
  width: 100%;
  background: linear-gradient(
      to bottom,
      rgba(9, 11, 15, 0.2),
      rgba(9, 11, 15, 1)
    ),
    url("../../Images/resources_background.jpg") center center no-repeat;
}

.Bottom_Container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60%;
  width: 96%;
  border-top: 1px solid rgb(195, 195, 195);
}

.Header_Container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  width: 96%;
  height: 70%;
  border-bottom: 1px solid rgb(235, 235, 235);
  z-index: 10;
  padding-bottom: 1em;
}

.Header_Container h1 {
  margin: 0em;
  padding: 0em;
  font-size: calc(6px + 8vmin);
  color: rgb(235, 235, 235);
  font-weight: 400;
}

.Header_Container p {
  margin: 0em 0em 0em 0.2em;
  padding: 0em;
  font-size: calc(6px + 1.5vmin);
  font-weight: 400;
  color: rgb(195, 195, 195);
}

.Add_Flower_Container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 13em;
  height: 100%;
  margin-left: 1em;
}

.Show_Flowers_Container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 85%;
  height: 100%;
}

.Show_Container_1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 2em;
  width: calc(100% - 0.8em);
  margin-top: -3em;
}

.Show_Container_2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-top: 1.8em;
}

.Add_Container_1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 2em;
  width: 100%;
  margin-top: -3em;
}

.Add_Container_2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-top: 1.8em;
}

.Add_Container_2 h3 {
  text-align: center;
  margin: 0em 0em 1em 0em;
  font-size: calc(6px + 1.2vh);
}

.Add_Container_1 p,
.Show_Container_Text {
  margin-left: 0.5em;
  font-size: calc(6px + 1vmin);
  font-weight: 600;
  color: rgb(195, 195, 195);
}

.Icon {
  color: #d97979;
}

.Show_Name {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 45%;
  height: 100%;
}

.Show_Date {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 20%;
  height: 100%;
}

.Show_Price {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 15%;
  height: 100%;
}

.Show_Amount {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 20%;
  height: 100%;
}

.List_Item_Container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 3em;
  border-bottom: 1px solid rgb(235, 235, 235);
}

.List_Container_Text_First {
  font-size: calc(6px + 1.3vmin);
  font-weight: 600;
}

.List_Container_Text_First_True {
  font-size: calc(6px + 1.3vmin);
  font-weight: 600;
  color: #d97979;
}

.List_Container_Text {
  font-size: calc(6px + 1.1vmin);
  font-weight: 400;
  color: rgb(195, 195, 195);
}

.Show_Container_2::-webkit-scrollbar,
.Add_Container_2::-webkit-scrollbar {
  width: 0.8em;
}

.Show_Container_2,
.Add_Container_2 {
  scrollbar-color: #d97979 #090b0f;
}
.Show_Container_2::-webkit-scrollbar-track,
.Add_Container_2::-webkit-scrollbar-track {
  background: #090b0f;
}
.Show_Container_2::-webkit-scrollbar-thumb,
.Add_Container_2::-webkit-scrollbar-thumb {
  background-color: #d97979;
  border-radius: 6px;
  border: 3px solid #090b0f;
}

.Header_Container_1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
}

.Icon_Container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(6px + 13vmin);
  height: calc(6px + 13vmin);
  border-radius: 1em;
  background-color: rgb(217, 121, 121, 0.15);
  margin-right: 1em;
}

.Header_Icon {
  transform: scale(2.5);
}

.List_Item_Container .Show_Amount {
  justify-content: space-between;
}

.Show_More_Icon {
  margin-right: 0.5em;
  transition-duration: 300ms;
  transition-property: rotateX;
}

.Show_More_Icon:hover {
  cursor: pointer;
}

.Resources_Form {
  margin-top: 0.2em;
}

.Add_Flower_Button {
  border: 1px solid #d97979;
  background-color: #d97979;
  width: 100%;
  height: 2.5em;
  border-radius: 0.5em;
  font-weight: 600;
}

.Add_Flower_Button:hover {
  cursor: pointer;
  color: white;
}

.Add_Illustrator {
  margin-top: 1.5em;
  width: 100%;
}

.Show_More_Icon_True {
  color: #d97979;
  transform: rotateX(180deg);
  margin-right: 0.5em;
}

.Show_More_Icon_True:hover {
  cursor: pointer;
}

@media only screen and (max-width: 1000px) {
  .Top_Container {
    height: 30%;
  }

  .Bottom_Container {
    height: 70%;
    width: 90%;
    margin-top: 4.5em;
  }

  .Main_Container {
    height: calc(100vh - 3em);
  }

  .Header_Container {
    width: 90%;
  }

  .Show_Flowers_Container {
    width: 100%;
  }

  .Add_Flower_Container {
    display: none;
  }

  .Icon {
    transform: scale(0.5);
    margin-left: -0.2em;
  }

  .Show_Container_Text {
    margin-left: -0.4em;
  }

  .Show_Name {
    width: 40%;
  }

  .Show_Date {
    width: 21%;
  }

  .Show_Price {
    width: 16%;
  }

  .Show_Amount {
    width: 23%;
  }

  .Show_Container_1 {
    margin-top: -3em;
  }

  .List_Item_Container {
    height: 2em;
  }

  .Icon_Container {
    border-radius: 0.5em;
    background-color: rgb(217, 121, 121, 0.25);
  }

  .Header_Icon {
    transform: scale(1.5);
  }

  .Show_More_Icon {
    transform: scale(0.7);
    margin-right: 0.1em;
  }

  .Show_More_Icon_True {
    color: #d97979;
    transform: scale(0.7) rotateX(180deg);
    margin-right: 0.1em;
  }
}
