@keyframes slide-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slide-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fadeOut {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 80%;
  color: white;
  opacity: 1;
  -webkit-animation: slide-out ease-out 1;
  -moz-animation: slide-out ease-out 1;
  animation: slide-out ease-out 1;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 0.3s;
  -moz-animation-duration: 0.3s;
  animation-duration: 0.3s;
}

.Main_Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 80%;
  color: white;

  opacity: 0;
  -webkit-animation: slide-in ease-in-out 1;
  -moz-animation: slide-in ease-in-out 1;
  animation: slide-in ease-in-out 1;

  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  animation-duration: 0.5s;
}

.Header_Container h1 {
  font-size: calc(6px + 6vmin);
  color: white;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.Tabs_Container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.Add_Florist_Container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 12em;
  width: 12em;
  border: 2px solid gray;
  border-radius: 2em;
  transition: 150ms ease-in-out;
  margin: 1em;
}

.Florist_Container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 12em;
  width: 12em;
  border: 2px solid white;
  border-radius: 2em;
  transition: 150ms ease-in-out;
  margin: 1em;
}

.Florist_Icon {
  color: white;
  transform: scale(4);
}

.Add_Florist_Container h1,
.Florist_Container h1 {
  margin-bottom: 1.5em;
}

.Add_Icon {
  color: #d97979;
  transform: scale(4);
}

.Add_Florist_Container:hover {
  cursor: pointer;
  border-color: white;
}

.Add_Florist_Container:hover * {
  color: white;
}

.Florist_Container:hover {
  cursor: pointer;
  border-color: #d97979;
}

.Florist_Container:hover * {
  color: #d97979;
}

.Modal_container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20em;
  background-color: rgb(240, 240, 240);
  color: black;
  border: 3px solid white;
  border-radius: 1em;
  box-shadow: 24em;
  padding: 2em;
}

.Close_Icon {
  float: right;
  color: #d97979;
}

.Close_Icon:hover {
  cursor: pointer;
}

.Modal_Form {
  display: flex;
  flex-direction: column;
}
.Modal_button {
  margin-top: 1.2em;
  height: 3em;
  font-weight: 600;
  font-size: 1em;
  color: #d97979;
  border: 1px solid #d97979;
}

.Modal_button:hover {
  cursor: pointer;
  background-color: rgb(217, 121, 121, 0.1);
}

@media only screen and (max-width: 550px) {
  .Tabs_Container {
    flex-direction: column;
    align-items: center;
  }

  .Add_Florist_Container,
  .Florist_Container {
    width: 10em;
    height: 10em;
  }

  .Add_Icon,
  .Florist_Icon {
    transform: scale(3);
  }

  .Add_Florist_Container h1,
  .Florist_Container h1 {
    font-size: 1.5em;
    margin-bottom: 1.5em;
  }

  .Modal_container {
    padding: 1em;
    width: 80vw;
  }
}
