@-webkit-keyframes fade-in {
  0% {
    margin-top: -5em;
    opacity: 0;
  }
  20% {
    margin-top: 3em;
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0%;
  }
}

@keyframes fade-in {
  0% {
    margin-top: -5em;
    opacity: 0;
  }
  20% {
    margin-top: 3em;
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0%;
  }
}

.Alert_Container {
  opacity: 0;
  position: absolute;
  top: 10;
  left: 50;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0em 2em;
  background-color: rgba(211, 211, 211, 0.1);
  border-radius: 1em;
  margin-top: 3em;
  -webkit-animation: fade-in ease-in 1;
  animation: fade-in ease-in 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  z-index: 1000;
}

@media only screen and (max-width: 1000px) {
  .Alert_Container {
    background-color: rgb(240, 240, 240);
    color: black;
  }
}
