.Form_Container {
  position: relative;
}

.Form {
  position: relative;
  width: 17.4em;
  height: 0.2em;
  margin-bottom: 4.4em;
}

.Form_Input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid rgb(187, 187, 187);
  border-radius: 0.5em;
  color: white;
  outline: none;
  padding: 1.25em;
  background: none;
  font-size: 1em;
}

.Form_Input:hover {
  border-color: #ffffff;
}

.Form_Input:focus {
  border-color: #d87878;
}

.Form_Label {
  position: absolute;
  left: 0.7em;
  top: 0.7em;
  padding: 0 0.5em;
  color: white;
  cursor: text;
  -webkit-transition: top 150ms ease-in, left 150ms ease-in,
    font-size 150ms ease-in;
  -o-transition: top 150ms ease-in, left 150ms ease-in, font-size 150ms ease-in;
  -webkit-transition: top 150ms ease-in, left 150ms ease-in,
    font-size 150ms ease-in;
  transition: top 150ms ease-in, left 150ms ease-in, font-size 150ms ease-in;
  background-color: #1a1a1a;
}

.Form_Input:focus + .Form_Label,
.Form_Input:not(:placeholder-shown).Form_Input:not(:focus) + .Form_Label,
.Form_Input_error:focus + .Form_Label,
.Form_Input_error:not(:placeholder-shown).Form_Input_error:not(:focus)
  + .Form_Label {
  top: -0.5em;
  font-size: 0.8em;
  left: 0.9em;
}

.error {
  top: 4.6em;
  position: absolute;
  color: red;
  font-size: 0.6em;
  font-weight: 600;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.Form_Input_error {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid red;
  border-radius: 0.5em;
  color: white;
  outline: none;
  padding: 1.25em;
  background: none;
  font-size: 1em;
}

.Form_Input_error:hover {
  border-color: rgb(235, 117, 117);
}

.Form_Input_error:focus {
  border-color: red;
}

@media only screen and (max-width: 550px) {
  .Form_Container {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }

  .Form {
    width: calc(100% - 2em);
    margin-bottom: 3.8em;
    height: 0.001em;
  }

  .Form_Input {
    font-size: 0.85em;
    padding: 1.25em 1em 1.25em 1em;
  }

  .Form_Input_error {
    font-size: 0.85em;
    padding: 1.25em 1em 1.25em 1em;
  }

  .Form_Label {
    font-size: 0.8em;
    left: 1em;
    top: 0.65em;
  }

  .error {
    top: 4.5em;
    position: absolute;
    color: red;
    font-size: 0.5em;
    font-weight: 600;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
  }

  .Form_Input:focus + .Form_Label,
  .Form_Input:not(:placeholder-shown).Form_Input:not(:focus) + .Form_Label,
  .Form_Input_error:focus + .Form_Label,
  .Form_Input_error:not(:placeholder-shown).Form_Input_error:not(:focus)
    + .Form_Label {
    top: -0.5em;
    font-size: 0.6em;
    left: 0.9em;
  }
}
