.Main_Container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0em;
  padding: 0em;
  width: 100%;
  background-color: #090b0f;
}

html {
  background-color: #090b0f;
  overflow: overlay;
}

html::-webkit-scrollbar {
  width: 0.8em;
}

html::-webkit-scrollbar-track {
  background: #090b0f;
  background-color: rgba(0, 0, 0, 0);
}

html::-webkit-scrollbar-thumb {
  background-color: #d97979;
  border-radius: 6px;
  border: 3px solid #090b0f;
}
