.Main_Container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0em;
  padding: 0em;
  width: 100%;
  background-color: #090b0f;
}

html {
  background-color: #090b0f;
  overflow: overlay;
}

html::-webkit-scrollbar {
  width: 0.8em;
}

html::-webkit-scrollbar-track {
  background: #090b0f;
  background-color: rgba(0, 0, 0, 0);
}

html::-webkit-scrollbar-thumb {
  background-color: #d97979;
  border-radius: 6px;
  border: 3px solid #090b0f;
}
